<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBConnector.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\omant\MonetaryManagement.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;</value>
            </setting>
            <setting name="Provider" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
        </DBConnector.Properties.Settings>
    </userSettings>
</configuration>